.game {
    background-color: #F5DEB3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}