body {
    padding: 50px;
    background-color: #F5DEB3;
}

canvas {
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}