.join {
    background-image: url(../../../../assets/img/paper-texture.jpg);
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.15), inset 0 0 10px 5px rgb(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 2rem;
    min-width: 40rem;

    &__title {
        color: rgb(29, 17, 3);
        font-family: 'Alegreya SC', serif;
        font-weight: 700;
        font-size: 2rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid rgba(65, 40, 12, 0.15);
    }
    &__table-wrapper {
        max-height: 14.5rem;
        overflow-y: scroll;
    }
    &__table {
        width: 100%;
        border-collapse: collapse;
    }
    &__header {
        text-align: left;
        padding: 1rem 0;

        &:nth-child(1) {
            width: 35%;
        }
        &:nth-child(2) {
            width: 25%;
        }
        &:nth-child(3) {
            width: 15%;
        }
        &:nth-child(4) {
            width: 25%;
        }
    }
    &__td {
        &:nth-child(1) {
            width: 35%;
        }
        &:nth-child(2) {
            width: 25%;
        }
        &:nth-child(3) {
            width: 15%;
        }
        &:nth-child(4) {
            width: 25%;
        }
    }
    &__button {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Alegreya SC', serif;
        text-transform: uppercase;
        border: 2px solid rgb(29, 17, 3);
        background-color: rgb(161, 110, 52);
        color: white;
        cursor: pointer;
        transition: 0.2s background-color;
        margin: 0.5rem 0;

        &:hover, &:focus {
            background-color: rgb(235, 202, 15);
            outline: none;
        }
    }
}